SUPABASE_PROJECT_REF = zqfurscyhmxlvrfendnc
SUPABASE_URL = "https:"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxZnVyc2N5aG14bHZyZmVuZG5jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMDM5MjMsImV4cCI6MjA5MTY3OTkyM30._F7D1QNtRjxKRQ4Dg7JbDW3cjIUU09JpY7rDHyh7APM"
SUPABASE_REDIRECT_SCHEME = "passportnative"
